[Desktop Entry]
Version=1.0
Type=Application
Name=inicio_dmrplus.desktop
Comment=
Exec=sh -c "cd /home/orangepi/SCRIPTS_ORANGE/;sleep 10;sudo sh ejecutar_plus_05.sh"
Icon=
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
StartupNotify=false
Hidden=false

