[Desktop Entry]
Version=1.0
Type=Application
Name=AbrirsoloDstar
Comment=
Exec=mate-terminal -x sh -c "cd /home/orangepi/SCRIPTS_ORANGE/;sh ejecutar_solodstar.sh"
Icon=/home/orangepi/SCRIPTS_ORANGE/SOLO_D-STAR.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir solo D-STAR
