[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir DMR2NXDN
Comment=
Exec=sudo sh -c "cd /home/orangepi/SCRIPTS_ORANGE/;sh ejecutar_DMR2NXDN.sh"
Icon=/home/orangepi/SCRIPTS_ORANGE/DMR2NXDN.png
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir DMR2NXDN
Path=/home/orangepi/SCRIPTS_ORANGE
GenericName=Abrir_DMR2NXDN
