[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir AMBE SERVER
Comment=AMBE SERVER
Exec=sh -c "cd /home/orangepi/SCRIPTS_ORANGE/;sleep 10;sh ejecutar_ambe_server.sh"
Icon=/home/orangepi/SCRIPTS_ORANGE/AMBE_SERVER.png
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir AMBE SERVER
Path=/home/orangepi/SCRIPTS_ORANGE
GenericName=Abrir AMBE SERVER
