[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir YSF2DMR
Comment=
Exec=sudo sh -c "cd /home/orangepi/SCRIPTS_ORANGE/;sh ejecutar_YSF2DMR.sh"
Icon=/home/orangepi/SCRIPTS_ORANGE/YSF2DMR.png
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir YSF2DMR
Path=/home/orangepi/SCRIPTS_ORANGE
GenericName=Abrir_YSF2DMR
