[Desktop Entry]
Version=1.0
Type=Application
Name=Brandmeister
Comment=
Exec=/home/orangepi/SCRIPTS_ORANGE/ambeserver
Icon=/home/orangepi/SCRIPTS_ORANGE/AMBE_SERVER.png
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir AMBE SERVER
GenericName=Abrir AMBE SERVER
