[Desktop Entry]
Version=1.0
Type=Application
Name=ActualizarBlueDB
Comment=
Exec=sh -c "cd /home/orangepi/SCRIPTS_ORANGE/;mate-terminal -x sh Actualizar_BlueDV_05.sh"
Icon=/home/orangepi/SCRIPTS_ORANGE/BLUEDV.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
StartupNotify=false
Name[es_ES]=Actualizar BlueDV
