[Desktop Entry]
Version=1.0
Type=Application
Name=ActualizarYSF
Comment=
Exec=mate-terminal --geometry=80x47 -x sh actualizar_YSF_05.sh
Icon=/home/orangepi/SCRIPTS_ORANGE/ACTUALIZAR_BD.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
StartupNotify=false
Name[es_ES]=Actualizar YSF
