[Desktop Entry]
Version=1.0
Type=Application
Name=Autoarranque
Comment=
Exec=mate-terminal --geometry=80x48 -x sh menu_autoarranque_05.sh
Icon=/home/orangepi/SCRIPTS_ORANGE/AUTOARRANQUE.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
StartupNotify=false
Name[es_ES]=Auto arranque
