[Desktop Entry]
Version=1.0
Type=Application
Name=BlueDV
Comment=
Exec=dump1090_sdrplay.sh
Icon=/home/orangepi/SCRIPTS_ORANGE/ICONO_AVION_ON.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir Dump1090
