[Desktop Entry]
Version=1.0
Type=Application
Name=BlueDV
Comment=
Exec=sh ejecutar_dump1090.sh
Icon=/home/orangepi/SCRIPTS_ORANGE/ICONO_AVION_OFF.png
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir Dump1090
Path=/home/orangepi/SCRIPTS_ORANGE