[Desktop Entry]
Version=1.0
Type=Application
Name=Borrar logs
Comment=
Exec=sh -c 'cd /home/orangepi/SCRIPTS_ORANGE; sudo sh borrar_logs_06.sh'
Icon=/home/orangepi/SCRIPTS_ORANGE/papelera1.png
Path=
Terminal=false
StartupNotify=false
