[Desktop Entry]
Version=1.0
Type=Application
Name=Borrar logs
Comment=
Exec=mate-terminal -x sh borrar_logs_06.sh
Icon=/home/orangepi/SCRIPTS_ORANGE/papelera1.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
StartupNotify=false
