[Desktop Entry]
Version=1.0
Type=Application
Name=Display
Comment=
Exec=/home/orangepi/SCRIPTS_ORANGE/editar_display.sh
Icon=/home/orangepi/SCRIPTS_ORANGE/ICONO_DISPLAY.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
StartupNotify=false
Name[es_ES]=Editar Display
