[Desktop Entry]
Version=1.0
Type=Application
Name=Dstar_solo
Comment=
Exec=sh ejecutar_solodstar_04.sh
Icon=/home/orangepi/SCRIPTS_ORANGE/SOLO_DSTAR.png
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir D-STAR Repeaterx
Path=/home/orangepi/SCRIPTS_ORANGE
