[Desktop Entry]
Version=1.0
Type=Application
Name=EditarBlueDV
Comment=
Exec=./qt_editor_dump1090
Icon=/home/orangepi/SCRIPTS_ORANGE/EDITAR_BLUEDV.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
StartupNotify=false
Name[es_ES]=Editar Dump1090
