[Desktop Entry]
Version=1.0
Type=Application
Name=Editar YSF2DMR
Comment=
Icon=/home/orangepi/SCRIPTS_ORANGE/YSF2DMR_EDIT.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
Name[es_ES]=Editar YSF2DMR
StartupNotify=false
Exec=mate-terminal --geometry=80x47 -x sh editar_YSF2DMR.sh
