[Desktop Entry]
Version=1.0
Type=Application
Name=Editor GENERAL
Comment=
Icon=/home/orangepi/SCRIPTS_ORANGE/EDITOR.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
Name[es_ES]=Editor GENERAL
StartupNotify=false
Exec=mate-terminal --geometry=80x30 -x sh  editar_INIS.sh
