[Desktop Entry]
Version=1.0
Type=Application
Name=Editar DMR2NXDN
Comment=
Icon=/home/orangepi/SCRIPTS_ORANGE/EDITAR_DMR2NXDN.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
Name[es_ES]=Editar DMR2NXDN
StartupNotify=false
Exec=mate-terminal --geometry=80x48 -x sh editar_MMDVMDMR2NXDN_02_07_05.sh
