[Desktop Entry]
Version=1.0
Type=Application
Name=Editar solo FUSION
Comment=
Exec=pluma MMDVMFUSION.ini
Icon=/home/orangepi/SCRIPTS_ORANGE/editar_bm.png
Path=/home/orangepi/MMDVMHost
Terminal=false
StartupNotify=false
