[Desktop Entry]
Version=1.0
Type=Application
Name=MENÚ EXTRA
Comment=
Icon=/home/orangepi/SCRIPTS_ORANGE/MENU.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
Name[es_ES]=MENÚ EXTRA
StartupNotify=false
Exec=mate-terminal -x sh menu_extra_05.sh
