[Desktop Entry]
Version=1.0
Type=Application
Name=Editar solo D-STAR
Comment=
Exec=/home/orangepi/SCRIPTS_ORANGE/ejecutar_bm_05.sh
Icon=/home/orangepi/SCRIPTS_ORANGE/SOLO_D-STAR.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
StartupNotify=false
