[Desktop Entry]
Version=1.0
Type=Application
Name=Editar solo D-STAR
Comment=
Exec=pluma MMDVMDSTAR.ini
Icon=/home/orangepi/SCRIPTS_ORANGE/SOLO_D-STAR.png
Path=/home/orangepi/MMDVMHost
Terminal=false
StartupNotify=false
