[Desktop Entry]
Version=1.0
Type=Application
Name=Editar Svxlink
Comment=
Exec=mate-terminal --geometry=80x47 -x sh editar_svxlink_05.sh
Icon=/home/orangepi/SCRIPTS_ORANGE/DMRPLUS_EDITOR.png
Path=/home/orangepi/SCRIPTS_ORANGE
Terminal=false
StartupNotify=false
