[Desktop Entry]
Version=1.0
Type=Application
Name=Top
Comment=
Exec=mate-terminal -x top
Icon=/home/orangepi/SCRIPTS_ORANGE/top.png
Path=
Terminal=false
StartupNotify=false
